# Flask and Server
flask
flask-cors
gunicorn

# AI Brain
google-generativeai

# --- Spacy/Numpy Version Fix ---
numpy==1.26.4
spacy==3.7.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz


sumy
nltk

# File Readers
pandas
pytesseract
pillow
fitz
python-docx
img2table
opencv-python-headless
